In [272]:
import pandas as pd 
import numpy as np

In [273]:
df = pd.read_csv('../Data/NSE_data_all_stocks_2021_upto_31dec2021.csv')
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-

In [274]:
sectors_2021 = pd.read_csv('../Data/NSE_data_stock_market_sectors_as_at_31dec2021.csv')
sectors_2021.head()

         SECTOR  CODE                     NAME
0  Agricultural  EGAD              Eaagads Ltd
1  Agricultural  KUKZ               Kakuzi Plc
2  Agricultural  KAPC  Kapchorua Tea Kenya Plc
3  Agricultural  LIMT           Limuru Tea Plc
4  Agricultural  SASN               Sasini Plc

In [275]:
# to attach sectors to df using the code
df = df.merge(sectors_2021[['CODE', 'SECTOR']], on='CODE', how='left')
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust,SECTOR
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural

In [276]:
df1 = pd.read_csv('../Data/NSE_data_all_stocks_2022.csv')
df1.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,3-Jan-22,EGAD,Eaagads Ltd,10,15,13.5,13.8,13.5,13.5,-,-,"4,000",-
1,3-Jan-22,KUKZ,Kakuzi Plc,355,427,385,385,385,385,-,-,-,-
2,3-Jan-22,KAPC,Kapchorua Tea Kenya Plc,80,101,99.5,99.5,99.5,95.5,4,4.19%,100,-
3,3-Jan-22,LIMT,Limuru Tea Plc,260,360,320,320,320,320,-,-,-,-
4,3-Jan-22,SASN,Sasini Plc,16.75,22.6,18.7,18.7,18.7,18.7,-,-,-,-

In [277]:
sectors_2022 = pd.read_csv('../Data/NSE_data_stock_market_sectors_2022.csv')
sectors_2022.head()

         Sector Stock_code               Stock_name
0  Agricultural       EGAD              Eaagads Ltd
1  Agricultural       KUKZ               Kakuzi Plc
2  Agricultural       KAPC  Kapchorua Tea Kenya Plc
3  Agricultural       LIMT           Limuru Tea Plc
4  Agricultural       SASN               Sasini Plc

In [278]:
df1 = df1.merge(sectors_2022[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df1.drop('Stock_code', axis=1, inplace=True)
df1.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price,Sector
0,3-Jan-22,EGAD,Eaagads Ltd,10,15,13.5,13.8,13.5,13.5,-,-,"4,000",-,Agricultural
1,3-Jan-22,KUKZ,Kakuzi Plc,355,427,385,385,385,385,-,-,-,-,Agricultural
2,3-Jan-22,KAPC,Kapchorua Tea Kenya Plc,80,101,99.5,99.5,99.5,95.5,4,4.19%,100,-,Agricultural
3,3-Jan-22,LIMT,Limuru Tea Plc,260,360,320,320,320,320,-,-,-,-,Agricultural
4,3-Jan-22,SASN,Sasini Plc,16.75,22.6,18.7,18.7,18.7,18.7,-,-,-,-,Agricultural

In [279]:
df2 = pd.read_csv('../Data/NSE_data_all_stocks_2023.csv')
df2.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,3-Jan-23,EGAD,Eaagads Ltd,10.35,14.5,10.5,10.5,10.5,10.5,-,-,"1,900.00",-
1,3-Jan-23,KUKZ,Kakuzi Plc,342,440,385,385,385,385,-,-,-,-
2,3-Jan-23,KAPC,Kapchorua Tea Kenya Plc,207,280,115.75,115.75,115.75,113.25,2.5,2.21%,100,-
3,3-Jan-23,LIMT,Limuru Tea Plc,365,380,420,420,420,420,-,-,-,-
4,3-Jan-23,SASN,Sasini Plc,15.1,22,22,22.5,22.45,22.45,-,-,"6,900.00",-

In [280]:
df3 = pd.read_csv('../Data/NSE_data_all_stocks_2024.csv')
df3.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,2-Jan-24,EGAD,Eaagads Ltd,10.35,14.5,12.8,12.8,12.8,13.95,-1.15,-8.24%,100,-
1,2-Jan-24,KUKZ,Kakuzi Plc,342,440,385,385,385,385,-,-,-,-
2,2-Jan-24,KAPC,Kapchorua Tea Kenya Plc,207,280,215,215,215,215,-,-,-,-
3,2-Jan-24,LIMT,Limuru Tea Plc,365,380,380,380,380,380,-,-,-,-
4,2-Jan-24,SASN,Sasini Plc,15.1,22,20,20,20,20,-,-,"3,300.00",-

In [281]:
sectors_2023_2024 = pd.read_csv('../Data/NSE_data_stock_market_sectors_2023_2024.csv')
sectors_2023_2024.head()

         Sector Stock_code               Stock_name
0  Agricultural       EGAD              Eaagads Ltd
1  Agricultural       KUKZ               Kakuzi Plc
2  Agricultural       KAPC  Kapchorua Tea Kenya Plc
3  Agricultural       LIMT           Limuru Tea Plc
4  Agricultural       SASN               Sasini Plc

In [282]:
# to merge df2 and df3 with sectors_2023_2024
df2 = df2.merge(sectors_2023_2024[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df2.drop('Stock_code', axis=1, inplace=True)
df3 = df3.merge(sectors_2023_2024[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df3.drop('Stock_code', axis=1, inplace=True)

In [283]:
df_columns = ['Date', 'Code', 'Name', '12m Low', '12m High', 'Day Low', 'Day High', 'Day Price', 'Previous', 'Change', '% Change', 'Volume', 'Adjusted Price', 'Sector']

df.columns = df_columns
df1.columns = df_columns
df2.columns = df_columns
df3.columns = df_columns

In [284]:
# to merge all the dataframes into one dataframe
df_all = pd.concat([df, df1, df2, df3], ignore_index=True)
df_all.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural

In [285]:
df_all.tail()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
69940,31-Dec-24,^N25I,NSE 25-Share Index,2364.29,"3,457.87","3,402.80","3,402.80","3,402.80","3,380.24",22.56,0.67%,-,-,Indices
69941,31-Dec-24,^NASI,NSE All-Share Index,90.1,125.34,123.48,123.48,123.48,123.12,0.36,0.29%,-,-,Indices
69942,31-Dec-24,^NBDI,NSE Bonds Index,986.46,"1,108.71","1,107.41","1,107.41","1,107.41","1,093.87",13.54,1.24%,-,-,NaN
69943,31-Dec-24,^ZKEQTK,Zamara Kenya Equity Index (KES),1535.23,"2,547.58","2,519.80","2,519.80","2,519.80","2,495.28",24.52,0.98%,-,-,Indices
69944,31-Dec-24,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,"1,697.07","1,677.27","1,677.27","1,677.27","1,662.24",15.03,0.90%,-,-,Indices

In [286]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69945 entries, 0 to 69944
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            69945 non-null  object
 1   Code            69945 non-null  object
 2   Name            69945 non-null  object
 3   12m Low         69945 non-null  object
 4   12m High        69945 non-null  object
 5   Day Low         69945 non-null  object
 6   Day High        69945 non-null  object
 7   Day Price       69945 non-null  object
 8   Previous        69945 non-null  object
 9   Change          69945 non-null  object
 10  % Change        69945 non-null  object
 11  Volume          69945 non-null  object
 12  Adjusted Price  69945 non-null  object
 13  Sector          69754 non-null  object
dtypes: object(14)
memory usage: 7.5+ MB

In [287]:
df_all.isna()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69940,False,False,False,False,False,False,False,False,False,False,False,False,False,False
69941,False,False,False,False,False,False,False,False,False,False,False,False,False,False
69942,False,False,False,False,False,False,False,False,False,False,False,False,False,True
69943,False,False,False,False,False,False,False,False,False,False,False,False,False,False
69944,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [288]:
# first 10 where sector is null
df_all[df_all['Sector'].isna()].head(10)

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
56936,12-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",988.79,988.79,988.79,"1,140.07",-151.28,-13.27%,-,-,NaN
57009,15-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",988.74,988.74,988.74,988.79,-0.05,-0.01%,-,-,NaN
57082,16-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",992.86,992.86,992.86,988.74,4.12,0.42%,-,-,NaN
57155,17-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",991.89,991.89,991.89,992.86,-0.97,-0.10%,-,-,NaN
57228,18-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",991.11,991.11,991.11,991.89,-0.78,-0.08%,-,-,NaN
57301,19-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",993.85,993.85,993.85,991.11,2.74,0.28%,-,-,NaN
57374,22-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",996.83,996.83,996.83,993.85,2.98,0.30%,-,-,NaN
57447,23-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",993.59,993.59,993.59,996.83,-3.24,-0.33%,-,-,NaN
57520,24-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",999.2,999.2,999.2,993.59,5.61,0.56%,-,-,NaN
57593,25-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",997.94,997.94,997.94,999.2,-1.26,-0.13%,-,-,NaN

In [289]:
# % change where '-' is present
df_all[df_all['% Change'] == '-']

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69927,31-Dec-24,BOC,BOC Kenya Plc,67,96,88.75,88.75,88.75,88.75,-,-,-,-,Manufacturing and Allied
69932,31-Dec-24,ORCH,Kenya Orchards Ltd,19,77,70,70,70,70,-,-,-,-,Manufacturing and Allied
69933,31-Dec-24,MSC,Mumias Sugar Company Ltd,0.27,0.27,0.27,0.27,0.27,0.27,-,-,-,-,Manufacturing and Allied
69936,31-Dec-24,LAPR,Laptrust Imara Income-REIT,20,20,20,20,20,20,-,-,-,-,Real Estate Investment Trusts
69937,31-Dec-24,GLD,ABSA NewGold ETF,2625,"3,330.00","3,260.00","3,260.00","3,260.00","3,260.00",-,-,-,-,Exchange Traded Funds

In [290]:
cols = [
    "12m Low","12m High","Day Low","Day High",
    "Day Price","Previous","Change","% Change", "Volume","Adjusted Price"
]

# remove % first
df_all["% Change"] = df_all["% Change"].str.replace("%", "", regex=False)

# remove thousand separators + replace '-' + cast
df_all[cols] = (
    df_all[cols]
        .replace(",", "", regex=True)
        .replace("-", 0)
        .apply(pd.to_numeric, errors="coerce")
)

In [291]:
df_all.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14.0,12.5,12.5,12.5,12.5,0.0,0.0,3200.0,0.0,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300.0,397.0,365.0,365.0,365.0,365.0,0.0,0.0,0.0,0.0,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59.0,90.0,78.0,78.0,78.0,78.0,0.0,0.0,0.0,0.0,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360.0,475.0,360.0,360.0,360.0,360.0,0.0,0.0,100.0,0.0,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20.0,19.5,19.5,19.5,19.5,0.0,0.0,0.0,0.0,Agricultural

In [292]:
df_all['Date'] = pd.to_datetime(df_all['Date'], errors='coerce')

In [293]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69945 entries, 0 to 69944
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            69945 non-null  datetime64[ns]
 1   Code            69945 non-null  object
 2   Name            69945 non-null  object
 3   12m Low         69945 non-null  float64
 4   12m High        69945 non-null  float64
 5   Day Low         69945 non-null  float64
 6   Day High        69945 non-null  float64
 7   Day Price       69945 non-null  float64
 8   Previous        69945 non-null  float64
 9   Change          69945 non-null  float64
 10  % Change        69945 non-null  float64
 11  Volume          69945 non-null  float64
 12  Adjusted Price  69945 non-null  float64
 13  Sector          69754 non-null  object
dtypes: datetime64[ns](1), float64(10), object(3)
memory usage: 7.5+ MB

In [297]:
df_all.duplicated().sum()

0

In [299]:
# saving the cleaned dataframe to a new csv file
df_all.to_csv('../Data/NSE_data_cleaned.csv', index=False)