In [501]:
import pandas as pd 
import numpy as np

In [502]:
df = pd.read_csv('../Data/NSE_data_all_stocks_2021_upto_31dec2021.csv')
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-

In [503]:
sectors_2021 = pd.read_csv('../Data/NSE_data_stock_market_sectors_as_at_31dec2021.csv')
sectors_2021.head()

         SECTOR  CODE                     NAME
0  Agricultural  EGAD              Eaagads Ltd
1  Agricultural  KUKZ               Kakuzi Plc
2  Agricultural  KAPC  Kapchorua Tea Kenya Plc
3  Agricultural  LIMT           Limuru Tea Plc
4  Agricultural  SASN               Sasini Plc

In [504]:
# to attach sectors to df using the code
df = df.merge(sectors_2021[['CODE', 'SECTOR']], on='CODE', how='left')
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust,SECTOR
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural

In [505]:
df1 = pd.read_csv('../Data/NSE_data_all_stocks_2022.csv')
df1.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,3-Jan-22,EGAD,Eaagads Ltd,10,15,13.5,13.8,13.5,13.5,-,-,"4,000",-
1,3-Jan-22,KUKZ,Kakuzi Plc,355,427,385,385,385,385,-,-,-,-
2,3-Jan-22,KAPC,Kapchorua Tea Kenya Plc,80,101,99.5,99.5,99.5,95.5,4,4.19%,100,-
3,3-Jan-22,LIMT,Limuru Tea Plc,260,360,320,320,320,320,-,-,-,-
4,3-Jan-22,SASN,Sasini Plc,16.75,22.6,18.7,18.7,18.7,18.7,-,-,-,-

In [506]:
sectors_2022 = pd.read_csv('../Data/NSE_data_stock_market_sectors_2022.csv')
sectors_2022.head()

         Sector Stock_code               Stock_name
0  Agricultural       EGAD              Eaagads Ltd
1  Agricultural       KUKZ               Kakuzi Plc
2  Agricultural       KAPC  Kapchorua Tea Kenya Plc
3  Agricultural       LIMT           Limuru Tea Plc
4  Agricultural       SASN               Sasini Plc

In [507]:
df1 = df1.merge(sectors_2022[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df1.drop('Stock_code', axis=1, inplace=True)
df1.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price,Sector
0,3-Jan-22,EGAD,Eaagads Ltd,10,15,13.5,13.8,13.5,13.5,-,-,"4,000",-,Agricultural
1,3-Jan-22,KUKZ,Kakuzi Plc,355,427,385,385,385,385,-,-,-,-,Agricultural
2,3-Jan-22,KAPC,Kapchorua Tea Kenya Plc,80,101,99.5,99.5,99.5,95.5,4,4.19%,100,-,Agricultural
3,3-Jan-22,LIMT,Limuru Tea Plc,260,360,320,320,320,320,-,-,-,-,Agricultural
4,3-Jan-22,SASN,Sasini Plc,16.75,22.6,18.7,18.7,18.7,18.7,-,-,-,-,Agricultural

In [508]:
df2 = pd.read_csv('../Data/NSE_data_all_stocks_2023.csv')
df2.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,3-Jan-23,EGAD,Eaagads Ltd,10.35,14.5,10.5,10.5,10.5,10.5,-,-,"1,900.00",-
1,3-Jan-23,KUKZ,Kakuzi Plc,342,440,385,385,385,385,-,-,-,-
2,3-Jan-23,KAPC,Kapchorua Tea Kenya Plc,207,280,115.75,115.75,115.75,113.25,2.5,2.21%,100,-
3,3-Jan-23,LIMT,Limuru Tea Plc,365,380,420,420,420,420,-,-,-,-
4,3-Jan-23,SASN,Sasini Plc,15.1,22,22,22.5,22.45,22.45,-,-,"6,900.00",-

In [509]:
df3 = pd.read_csv('../Data/NSE_data_all_stocks_2024.csv')
df3.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,2-Jan-24,EGAD,Eaagads Ltd,10.35,14.5,12.8,12.8,12.8,13.95,-1.15,-8.24%,100,-
1,2-Jan-24,KUKZ,Kakuzi Plc,342,440,385,385,385,385,-,-,-,-
2,2-Jan-24,KAPC,Kapchorua Tea Kenya Plc,207,280,215,215,215,215,-,-,-,-
3,2-Jan-24,LIMT,Limuru Tea Plc,365,380,380,380,380,380,-,-,-,-
4,2-Jan-24,SASN,Sasini Plc,15.1,22,20,20,20,20,-,-,"3,300.00",-

In [510]:
sectors_2023_2024 = pd.read_csv('../Data/NSE_data_stock_market_sectors_2023_2024.csv')
sectors_2023_2024.head()

         Sector Stock_code               Stock_name
0  Agricultural       EGAD              Eaagads Ltd
1  Agricultural       KUKZ               Kakuzi Plc
2  Agricultural       KAPC  Kapchorua Tea Kenya Plc
3  Agricultural       LIMT           Limuru Tea Plc
4  Agricultural       SASN               Sasini Plc

In [511]:
# to merge df2 and df3 with sectors_2023_2024
df2 = df2.merge(sectors_2023_2024[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df2.drop('Stock_code', axis=1, inplace=True)
df3 = df3.merge(sectors_2023_2024[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df3.drop('Stock_code', axis=1, inplace=True)

In [512]:
df_columns = ['Date', 'Code', 'Name', '12m Low', '12m High', 'Day Low', 'Day High', 'Day Price', 'Previous', 'Change', '% Change', 'Volume', 'Adjusted Price', 'Sector']

df.columns = df_columns
df1.columns = df_columns
df2.columns = df_columns
df3.columns = df_columns

In [513]:
# to merge all the dataframes into one dataframe
df_all = pd.concat([df, df1, df2, df3], ignore_index=True)
df_all.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural

In [514]:
df_all.tail()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
69940,31-Dec-24,^N25I,NSE 25-Share Index,2364.29,"3,457.87","3,402.80","3,402.80","3,402.80","3,380.24",22.56,0.67%,-,-,Indices
69941,31-Dec-24,^NASI,NSE All-Share Index,90.1,125.34,123.48,123.48,123.48,123.12,0.36,0.29%,-,-,Indices
69942,31-Dec-24,^NBDI,NSE Bonds Index,986.46,"1,108.71","1,107.41","1,107.41","1,107.41","1,093.87",13.54,1.24%,-,-,NaN
69943,31-Dec-24,^ZKEQTK,Zamara Kenya Equity Index (KES),1535.23,"2,547.58","2,519.80","2,519.80","2,519.80","2,495.28",24.52,0.98%,-,-,Indices
69944,31-Dec-24,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,"1,697.07","1,677.27","1,677.27","1,677.27","1,662.24",15.03,0.90%,-,-,Indices

In [515]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69945 entries, 0 to 69944
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            69945 non-null  object
 1   Code            69945 non-null  object
 2   Name            69945 non-null  object
 3   12m Low         69945 non-null  object
 4   12m High        69945 non-null  object
 5   Day Low         69945 non-null  object
 6   Day High        69945 non-null  object
 7   Day Price       69945 non-null  object
 8   Previous        69945 non-null  object
 9   Change          69945 non-null  object
 10  % Change        69945 non-null  object
 11  Volume          69945 non-null  object
 12  Adjusted Price  69945 non-null  object
 13  Sector          69754 non-null  object
dtypes: object(14)
memory usage: 7.5+ MB

In [516]:
df_all.isna().sum()

Date                0
Code                0
Name                0
12m Low             0
12m High            0
Day Low             0
Day High            0
Day Price           0
Previous            0
Change              0
% Change            0
Volume              0
Adjusted Price      0
Sector            191
dtype: int64

In [517]:
# first 10 where sector is null
df_all[df_all['Sector'].isna()].head(10)

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
56936,12-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",988.79,988.79,988.79,"1,140.07",-151.28,-13.27%,-,-,NaN
57009,15-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",988.74,988.74,988.74,988.79,-0.05,-0.01%,-,-,NaN
57082,16-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",992.86,992.86,992.86,988.74,4.12,0.42%,-,-,NaN
57155,17-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",991.89,991.89,991.89,992.86,-0.97,-0.10%,-,-,NaN
57228,18-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",991.11,991.11,991.11,991.89,-0.78,-0.08%,-,-,NaN
57301,19-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",993.85,993.85,993.85,991.11,2.74,0.28%,-,-,NaN
57374,22-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",996.83,996.83,996.83,993.85,2.98,0.30%,-,-,NaN
57447,23-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",993.59,993.59,993.59,996.83,-3.24,-0.33%,-,-,NaN
57520,24-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",999.2,999.2,999.2,993.59,5.61,0.56%,-,-,NaN
57593,25-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",997.94,997.94,997.94,999.2,-1.26,-0.13%,-,-,NaN

In [518]:
# % change where '-' is present
df_all[df_all['% Change'] == '-']

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69927,31-Dec-24,BOC,BOC Kenya Plc,67,96,88.75,88.75,88.75,88.75,-,-,-,-,Manufacturing and Allied
69932,31-Dec-24,ORCH,Kenya Orchards Ltd,19,77,70,70,70,70,-,-,-,-,Manufacturing and Allied
69933,31-Dec-24,MSC,Mumias Sugar Company Ltd,0.27,0.27,0.27,0.27,0.27,0.27,-,-,-,-,Manufacturing and Allied
69936,31-Dec-24,LAPR,Laptrust Imara Income-REIT,20,20,20,20,20,20,-,-,-,-,Real Estate Investment Trusts
69937,31-Dec-24,GLD,ABSA NewGold ETF,2625,"3,330.00","3,260.00","3,260.00","3,260.00","3,260.00",-,-,-,-,Exchange Traded Funds

In [519]:
cols = [
    "12m Low","12m High","Day Low","Day High",
    "Day Price","Previous","Change","% Change", "Volume","Adjusted Price"
]

# remove % first
df_all["% Change"] = df_all["% Change"].str.replace("%", "", regex=False)

# remove thousand separators + replace '-' + cast
df_all[cols] = (
    df_all[cols]
        .replace(",", "", regex=True)
        .replace("-", 0)
        .apply(pd.to_numeric, errors="coerce")
)

In [520]:
df_all.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14.0,12.5,12.5,12.5,12.5,0.0,0.0,3200.0,0.0,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300.0,397.0,365.0,365.0,365.0,365.0,0.0,0.0,0.0,0.0,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59.0,90.0,78.0,78.0,78.0,78.0,0.0,0.0,0.0,0.0,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360.0,475.0,360.0,360.0,360.0,360.0,0.0,0.0,100.0,0.0,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20.0,19.5,19.5,19.5,19.5,0.0,0.0,0.0,0.0,Agricultural

In [521]:
df_all['Date'] = pd.to_datetime(df_all['Date'], errors='coerce')

In [522]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69945 entries, 0 to 69944
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            69945 non-null  datetime64[ns]
 1   Code            69945 non-null  object
 2   Name            69945 non-null  object
 3   12m Low         69945 non-null  float64
 4   12m High        69945 non-null  float64
 5   Day Low         69945 non-null  float64
 6   Day High        69945 non-null  float64
 7   Day Price       69945 non-null  float64
 8   Previous        69945 non-null  float64
 9   Change          69945 non-null  float64
 10  % Change        69945 non-null  float64
 11  Volume          69945 non-null  float64
 12  Adjusted Price  69945 non-null  float64
 13  Sector          69754 non-null  object
dtypes: datetime64[ns](1), float64(10), object(3)
memory usage: 7.5+ MB

In [523]:
df_all.duplicated().sum()

0

In [524]:
# saving the cleaned dataframe to a new csv file
#df_all.to_csv('../Data/NSE_data_cleaned.csv', index=False)

# pre-processing
 Feature Engineering

## Objective
Create financial indicators to capture:
- Price volatility
- Returns behavior
- Liquidity patterns
- Trend momentum
- Sector-relative metrics

In [525]:
df = pd.read_csv('../Data/NSE_data_cleaned.csv')
df.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,2021-01-04,EGAD,Eaagads Ltd,8.2,14.0,12.5,12.5,12.5,12.5,0.0,0.0,3200.0,0.0,Agricultural
1,2021-01-04,KUKZ,Kakuzi Plc,300.0,397.0,365.0,365.0,365.0,365.0,0.0,0.0,0.0,0.0,Agricultural
2,2021-01-04,KAPC,Kapchorua Tea Kenya Plc,59.0,90.0,78.0,78.0,78.0,78.0,0.0,0.0,0.0,0.0,Agricultural
3,2021-01-04,LIMT,Limuru Tea Plc,360.0,475.0,360.0,360.0,360.0,360.0,0.0,0.0,100.0,0.0,Agricultural
4,2021-01-04,SASN,Sasini Plc,14.8,20.0,19.5,19.5,19.5,19.5,0.0,0.0,0.0,0.0,Agricultural

In [526]:
df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d", errors="coerce")
df["Date"] = df["Date"].dt.strftime("%Y-%m")

In [527]:
df.dropna(inplace=True)

In [528]:
df['Change'] = df['Day Price'] - df['Previous']
df['%Change'] = (df['Change']/df['Previous']) * 100
df

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector,%Change
0,2021-01,EGAD,Eaagads Ltd,8.20,14.00,12.50,12.50,12.50,12.50,0.00,0.00,3200.0,0.0,Agricultural,0.000000
1,2021-01,KUKZ,Kakuzi Plc,300.00,397.00,365.00,365.00,365.00,365.00,0.00,0.00,0.0,0.0,Agricultural,0.000000
2,2021-01,KAPC,Kapchorua Tea Kenya Plc,59.00,90.00,78.00,78.00,78.00,78.00,0.00,0.00,0.0,0.0,Agricultural,0.000000
3,2021-01,LIMT,Limuru Tea Plc,360.00,475.00,360.00,360.00,360.00,360.00,0.00,0.00,100.0,0.0,Agricultural,0.000000
4,2021-01,SASN,Sasini Plc,14.80,20.00,19.50,19.50,19.50,19.50,0.00,0.00,0.0,0.0,Agricultural,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69939,2024-12,^N20I,NSE 20-Share Index,1487.89,18845.31,2010.65,2010.65,2010.65,1993.74,16.91,0.85,0.0,0.0,Indices,0.848155
69940,2024-12,^N25I,NSE 25-Share Index,2364.29,3457.87,3402.80,3402.80,3402.80,3380.24,22.56,0.67,0.0,0.0,Indices,0.667408
69941,2024-12,^NASI,NSE All-Share Index,90.10,125.34,123.48,123.48,123.48,123.12,0.36,0.29,0.0,0.0,Indices,0.292398
69943,2024-12,^ZKEQTK,Zamara Kenya Equity Index (KES),1535.23,2547.58,2519.80,2519.80,2519.80,2495.28,24.52,0.98,0.0,0.0,Indices,0.982655
69944,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1697.07,1677.27,1677.27,1677.27,1662.24,15.03,0.90,0.0,0.0,Indices,0.904202

In [529]:
df.drop(columns='Adjusted Price', inplace=True)
df

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Sector,%Change
0,2021-01,EGAD,Eaagads Ltd,8.20,14.00,12.50,12.50,12.50,12.50,0.00,0.00,3200.0,Agricultural,0.000000
1,2021-01,KUKZ,Kakuzi Plc,300.00,397.00,365.00,365.00,365.00,365.00,0.00,0.00,0.0,Agricultural,0.000000
2,2021-01,KAPC,Kapchorua Tea Kenya Plc,59.00,90.00,78.00,78.00,78.00,78.00,0.00,0.00,0.0,Agricultural,0.000000
3,2021-01,LIMT,Limuru Tea Plc,360.00,475.00,360.00,360.00,360.00,360.00,0.00,0.00,100.0,Agricultural,0.000000
4,2021-01,SASN,Sasini Plc,14.80,20.00,19.50,19.50,19.50,19.50,0.00,0.00,0.0,Agricultural,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69939,2024-12,^N20I,NSE 20-Share Index,1487.89,18845.31,2010.65,2010.65,2010.65,1993.74,16.91,0.85,0.0,Indices,0.848155
69940,2024-12,^N25I,NSE 25-Share Index,2364.29,3457.87,3402.80,3402.80,3402.80,3380.24,22.56,0.67,0.0,Indices,0.667408
69941,2024-12,^NASI,NSE All-Share Index,90.10,125.34,123.48,123.48,123.48,123.12,0.36,0.29,0.0,Indices,0.292398
69943,2024-12,^ZKEQTK,Zamara Kenya Equity Index (KES),1535.23,2547.58,2519.80,2519.80,2519.80,2495.28,24.52,0.98,0.0,Indices,0.982655
69944,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1697.07,1677.27,1677.27,1677.27,1662.24,15.03,0.90,0.0,Indices,0.904202

In [530]:
#how much a stock's price moves around over time = std. of returns

In [531]:
df["return"] = (df["Day Price"] - df["Previous"]) / df["Previous"]
df["log_return"] = np.log(df["Day Price"] / df["Previous"])
df

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Sector,%Change,return,log_return
0,2021-01,EGAD,Eaagads Ltd,8.20,14.00,12.50,12.50,12.50,12.50,0.00,0.00,3200.0,Agricultural,0.000000,0.000000,0.000000
1,2021-01,KUKZ,Kakuzi Plc,300.00,397.00,365.00,365.00,365.00,365.00,0.00,0.00,0.0,Agricultural,0.000000,0.000000,0.000000
2,2021-01,KAPC,Kapchorua Tea Kenya Plc,59.00,90.00,78.00,78.00,78.00,78.00,0.00,0.00,0.0,Agricultural,0.000000,0.000000,0.000000
3,2021-01,LIMT,Limuru Tea Plc,360.00,475.00,360.00,360.00,360.00,360.00,0.00,0.00,100.0,Agricultural,0.000000,0.000000,0.000000
4,2021-01,SASN,Sasini Plc,14.80,20.00,19.50,19.50,19.50,19.50,0.00,0.00,0.0,Agricultural,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69939,2024-12,^N20I,NSE 20-Share Index,1487.89,18845.31,2010.65,2010.65,2010.65,1993.74,16.91,0.85,0.0,Indices,0.848155,0.008482,0.008446
69940,2024-12,^N25I,NSE 25-Share Index,2364.29,3457.87,3402.80,3402.80,3402.80,3380.24,22.56,0.67,0.0,Indices,0.667408,0.006674,0.006652
69941,2024-12,^NASI,NSE All-Share Index,90.10,125.34,123.48,123.48,123.48,123.12,0.36,0.29,0.0,Indices,0.292398,0.002924,0.002920
69943,2024-12,^ZKEQTK,Zamara Kenya Equity Index (KES),1535.23,2547.58,2519.80,2519.80,2519.80,2495.28,24.52,0.98,0.0,Indices,0.982655,0.009827,0.009779
69944,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1697.07,1677.27,1677.27,1677.27,1662.24,15.03,0.90,0.0,Indices,0.904202,0.009042,0.009001

In [532]:
df["daily_range"] = df["Day High"] - df["Day Low"]
df["range_pct"] = df["daily_range"] / df["Previous"]

df["high_low_ratio"] = df["Day High"] / df["Day Low"]

In [533]:
df["ma_5"] = df.groupby("Code")["Day Price"].transform(lambda x: x.rolling(5).mean())
df["ma_10"] = df.groupby("Code")["Day Price"].transform(lambda x: x.rolling(10).mean())

df["momentum_5"] = df["Day Price"] / df["ma_5"] - 1
df["momentum_10"] = df["Day Price"] / df["ma_10"] - 1

In [534]:
df["volatility_5"] = df.groupby("Code")["return"].transform(lambda x: x.rolling(5).std())
df["volatility_10"] = df.groupby("Code")["return"].transform(lambda x: x.rolling(10).std())

In [535]:
df["vol_ma_5"] = df.groupby("Code")["Volume"].transform(lambda x: x.rolling(5).mean())
df["vol_ratio"] = df["Volume"] / df["vol_ma_5"]

In [536]:
df["position_12m"] = (df["Day Price"] - df["12m Low"]) / (df["12m High"] - df["12m Low"])

In [537]:
df["target_up"] = (df.groupby("Code")["Day Price"]
                     .shift(-1) > df["Day Price"]).astype(int)

In [538]:
df["target_return"] = df.groupby("Code")["return"].shift(-1)

In [539]:
df

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,...,ma_10,momentum_5,momentum_10,volatility_5,volatility_10,vol_ma_5,vol_ratio,position_12m,target_up,target_return
0,2021-01,EGAD,Eaagads Ltd,8.20,14.00,12.50,12.50,12.50,12.50,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.741379,0,0.0
1,2021-01,KUKZ,Kakuzi Plc,300.00,397.00,365.00,365.00,365.00,365.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.670103,0,0.0
2,2021-01,KAPC,Kapchorua Tea Kenya Plc,59.00,90.00,78.00,78.00,78.00,78.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.612903,0,0.0
3,2021-01,LIMT,Limuru Tea Plc,360.00,475.00,360.00,360.00,360.00,360.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,0.0
4,2021-01,SASN,Sasini Plc,14.80,20.00,19.50,19.50,19.50,19.50,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.903846,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69939,2024-12,^N20I,NSE 20-Share Index,1487.89,18845.31,2010.65,2010.65,2010.65,1993.74,16.91,...,1934.717,0.018220,0.039248,0.005796,0.007351,0.0,NaN,0.030117,0,NaN
69940,2024-12,^N25I,NSE 25-Share Index,2364.29,3457.87,3402.80,3402.80,3402.80,3380.24,22.56,...,3304.796,0.015590,0.029655,0.003461,0.006345,0.0,NaN,0.949642,0,NaN
69941,2024-12,^NASI,NSE All-Share Index,90.10,125.34,123.48,123.48,123.48,123.12,0.36,...,121.521,0.007589,0.016121,0.003032,0.003160,0.0,NaN,0.947219,0,NaN
69943,2024-12,^ZKEQTK,Zamara Kenya Equity Index (KES),1535.23,2547.58,2519.80,2519.80,2519.80,2495.28,24.52,...,2458.449,0.016039,0.024955,0.004068,0.006387,0.0,NaN,0.972559,0,NaN
69944,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1697.07,1677.27,1677.27,1677.27,1662.24,15.03,...,1637.569,0.015413,0.024244,0.003868,0.006308,0.0,NaN,0.977464,0,NaN

In [540]:
df.isna().sum()

Date                  0
Code                  0
Name                  0
12m Low               0
12m High              0
Day Low               0
Day High              0
Day Price             0
Previous              0
Change                0
% Change              0
Volume                0
Sector                0
%Change               0
return                0
log_return            0
daily_range           0
range_pct             1
high_low_ratio       32
ma_5                300
ma_10               675
momentum_5          300
momentum_10         675
volatility_5        301
volatility_10       676
vol_ma_5            300
vol_ratio         17354
position_12m       7907
target_up             0
target_return        75
dtype: int64

In [541]:
features = [
    "return","log_return","daily_range","range_pct",
    "momentum_5","momentum_10",
    "volatility_5","volatility_10",
    "vol_ratio","position_12m"
]

In [542]:
'''
features = [
    "return","log_return","daily_range","range_pct",
    "momentum_5","momentum_10",
    "volatility_5","volatility_10",
    "vol_ratio","position_12m"
]

df_model = df.copy()

df_model = df_model.sort_values(["Stock_code","Date"])

# forward fill features within each stock
df_model[features] = df_model.groupby("Stock_code")[features].ffill()

# drop rows where target is NaN
df_model = df_model.dropna(subset=["target_return"])

'''

'\nfeatures = [\n    "return","log_return","daily_range","range_pct",\n    "momentum_5","momentum_10",\n    "volatility_5","volatility_10",\n    "vol_ratio","position_12m"\n]\n\ndf_model = df.copy()\n\ndf_model = df_model.sort_values(["Stock_code","Date"])\n\n# forward fill features within each stock\ndf_model[features] = df_model.groupby("Stock_code")[features].ffill()\n\n# drop rows where target is NaN\ndf_model = df_model.dropna(subset=["target_return"])\n\n'