In [45]:
import pandas as pd 
import numpy as np

In [46]:
df = pd.read_csv('../Data/NSE_data_all_stocks_2021_upto_31dec2021.csv')
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-

In [47]:
sectors_2021 = pd.read_csv('../Data/NSE_data_stock_market_sectors_as_at_31dec2021.csv')
sectors_2021.head()

         SECTOR  CODE                     NAME
0  Agricultural  EGAD              Eaagads Ltd
1  Agricultural  KUKZ               Kakuzi Plc
2  Agricultural  KAPC  Kapchorua Tea Kenya Plc
3  Agricultural  LIMT           Limuru Tea Plc
4  Agricultural  SASN               Sasini Plc

In [48]:
# to attach sectors to df using the code
df = df.merge(sectors_2021[['CODE', 'SECTOR']], on='CODE', how='left')
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust,SECTOR
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural

In [49]:
df1 = pd.read_csv('../Data/NSE_data_all_stocks_2022.csv')
df1.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,3-Jan-22,EGAD,Eaagads Ltd,10,15,13.5,13.8,13.5,13.5,-,-,"4,000",-
1,3-Jan-22,KUKZ,Kakuzi Plc,355,427,385,385,385,385,-,-,-,-
2,3-Jan-22,KAPC,Kapchorua Tea Kenya Plc,80,101,99.5,99.5,99.5,95.5,4,4.19%,100,-
3,3-Jan-22,LIMT,Limuru Tea Plc,260,360,320,320,320,320,-,-,-,-
4,3-Jan-22,SASN,Sasini Plc,16.75,22.6,18.7,18.7,18.7,18.7,-,-,-,-

In [50]:
sectors_2022 = pd.read_csv('../Data/NSE_data_stock_market_sectors_2022.csv')
sectors_2022.head()

         Sector Stock_code               Stock_name
0  Agricultural       EGAD              Eaagads Ltd
1  Agricultural       KUKZ               Kakuzi Plc
2  Agricultural       KAPC  Kapchorua Tea Kenya Plc
3  Agricultural       LIMT           Limuru Tea Plc
4  Agricultural       SASN               Sasini Plc

In [51]:
df1 = df1.merge(sectors_2022[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df1.drop('Stock_code', axis=1, inplace=True)
df1.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price,Sector
0,3-Jan-22,EGAD,Eaagads Ltd,10,15,13.5,13.8,13.5,13.5,-,-,"4,000",-,Agricultural
1,3-Jan-22,KUKZ,Kakuzi Plc,355,427,385,385,385,385,-,-,-,-,Agricultural
2,3-Jan-22,KAPC,Kapchorua Tea Kenya Plc,80,101,99.5,99.5,99.5,95.5,4,4.19%,100,-,Agricultural
3,3-Jan-22,LIMT,Limuru Tea Plc,260,360,320,320,320,320,-,-,-,-,Agricultural
4,3-Jan-22,SASN,Sasini Plc,16.75,22.6,18.7,18.7,18.7,18.7,-,-,-,-,Agricultural

In [52]:
df2 = pd.read_csv('../Data/NSE_data_all_stocks_2023.csv')
df2.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,3-Jan-23,EGAD,Eaagads Ltd,10.35,14.5,10.5,10.5,10.5,10.5,-,-,"1,900.00",-
1,3-Jan-23,KUKZ,Kakuzi Plc,342,440,385,385,385,385,-,-,-,-
2,3-Jan-23,KAPC,Kapchorua Tea Kenya Plc,207,280,115.75,115.75,115.75,113.25,2.5,2.21%,100,-
3,3-Jan-23,LIMT,Limuru Tea Plc,365,380,420,420,420,420,-,-,-,-
4,3-Jan-23,SASN,Sasini Plc,15.1,22,22,22.5,22.45,22.45,-,-,"6,900.00",-

In [53]:
df3 = pd.read_csv('../Data/NSE_data_all_stocks_2024.csv')
df3.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,2-Jan-24,EGAD,Eaagads Ltd,10.35,14.5,12.8,12.8,12.8,13.95,-1.15,-8.24%,100,-
1,2-Jan-24,KUKZ,Kakuzi Plc,342,440,385,385,385,385,-,-,-,-
2,2-Jan-24,KAPC,Kapchorua Tea Kenya Plc,207,280,215,215,215,215,-,-,-,-
3,2-Jan-24,LIMT,Limuru Tea Plc,365,380,380,380,380,380,-,-,-,-
4,2-Jan-24,SASN,Sasini Plc,15.1,22,20,20,20,20,-,-,"3,300.00",-

In [54]:
sectors_2023_2024 = pd.read_csv('../Data/NSE_data_stock_market_sectors_2023_2024.csv')
sectors_2023_2024.head()

         Sector Stock_code               Stock_name
0  Agricultural       EGAD              Eaagads Ltd
1  Agricultural       KUKZ               Kakuzi Plc
2  Agricultural       KAPC  Kapchorua Tea Kenya Plc
3  Agricultural       LIMT           Limuru Tea Plc
4  Agricultural       SASN               Sasini Plc

In [55]:
# to merge df2 and df3 with sectors_2023_2024
df2 = df2.merge(sectors_2023_2024[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df2.drop('Stock_code', axis=1, inplace=True)
df3 = df3.merge(sectors_2023_2024[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df3.drop('Stock_code', axis=1, inplace=True)

In [56]:
df_columns = ['Date', 'Code', 'Name', '12m Low', '12m High', 'Day Low', 'Day High', 'Day Price', 'Previous', 'Change', '% Change', 'Volume', 'Adjusted Price', 'Sector']

df.columns = df_columns
df1.columns = df_columns
df2.columns = df_columns
df3.columns = df_columns

In [57]:
# to merge all the dataframes into one dataframe
df_all = pd.concat([df, df1, df2, df3], ignore_index=True)
df_all.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural

In [58]:
df_all.tail()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
69940,31-Dec-24,^N25I,NSE 25-Share Index,2364.29,"3,457.87","3,402.80","3,402.80","3,402.80","3,380.24",22.56,0.67%,-,-,Indices
69941,31-Dec-24,^NASI,NSE All-Share Index,90.1,125.34,123.48,123.48,123.48,123.12,0.36,0.29%,-,-,Indices
69942,31-Dec-24,^NBDI,NSE Bonds Index,986.46,"1,108.71","1,107.41","1,107.41","1,107.41","1,093.87",13.54,1.24%,-,-,NaN
69943,31-Dec-24,^ZKEQTK,Zamara Kenya Equity Index (KES),1535.23,"2,547.58","2,519.80","2,519.80","2,519.80","2,495.28",24.52,0.98%,-,-,Indices
69944,31-Dec-24,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,"1,697.07","1,677.27","1,677.27","1,677.27","1,662.24",15.03,0.90%,-,-,Indices

In [59]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69945 entries, 0 to 69944
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            69945 non-null  object
 1   Code            69945 non-null  object
 2   Name            69945 non-null  object
 3   12m Low         69945 non-null  object
 4   12m High        69945 non-null  object
 5   Day Low         69945 non-null  object
 6   Day High        69945 non-null  object
 7   Day Price       69945 non-null  object
 8   Previous        69945 non-null  object
 9   Change          69945 non-null  object
 10  % Change        69945 non-null  object
 11  Volume          69945 non-null  object
 12  Adjusted Price  69945 non-null  object
 13  Sector          69754 non-null  object
dtypes: object(14)
memory usage: 7.5+ MB

In [60]:
df_all.isna().sum()

Date                0
Code                0
Name                0
12m Low             0
12m High            0
Day Low             0
Day High            0
Day Price           0
Previous            0
Change              0
% Change            0
Volume              0
Adjusted Price      0
Sector            191
dtype: int64

In [61]:
# first 10 where sector is null
df_all[df_all['Sector'].isna()].head(10)

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
56936,12-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",988.79,988.79,988.79,"1,140.07",-151.28,-13.27%,-,-,NaN
57009,15-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",988.74,988.74,988.74,988.79,-0.05,-0.01%,-,-,NaN
57082,16-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",992.86,992.86,992.86,988.74,4.12,0.42%,-,-,NaN
57155,17-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",991.89,991.89,991.89,992.86,-0.97,-0.10%,-,-,NaN
57228,18-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",991.11,991.11,991.11,991.89,-0.78,-0.08%,-,-,NaN
57301,19-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",993.85,993.85,993.85,991.11,2.74,0.28%,-,-,NaN
57374,22-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",996.83,996.83,996.83,993.85,2.98,0.30%,-,-,NaN
57447,23-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",993.59,993.59,993.59,996.83,-3.24,-0.33%,-,-,NaN
57520,24-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",999.2,999.2,999.2,993.59,5.61,0.56%,-,-,NaN
57593,25-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",997.94,997.94,997.94,999.2,-1.26,-0.13%,-,-,NaN

In [62]:
# % change where '-' is present
df_all[df_all['% Change'] == '-']

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69927,31-Dec-24,BOC,BOC Kenya Plc,67,96,88.75,88.75,88.75,88.75,-,-,-,-,Manufacturing and Allied
69932,31-Dec-24,ORCH,Kenya Orchards Ltd,19,77,70,70,70,70,-,-,-,-,Manufacturing and Allied
69933,31-Dec-24,MSC,Mumias Sugar Company Ltd,0.27,0.27,0.27,0.27,0.27,0.27,-,-,-,-,Manufacturing and Allied
69936,31-Dec-24,LAPR,Laptrust Imara Income-REIT,20,20,20,20,20,20,-,-,-,-,Real Estate Investment Trusts
69937,31-Dec-24,GLD,ABSA NewGold ETF,2625,"3,330.00","3,260.00","3,260.00","3,260.00","3,260.00",-,-,-,-,Exchange Traded Funds

In [63]:
cols = [
    "12m Low","12m High","Day Low","Day High",
    "Day Price","Previous","Change","% Change", "Volume","Adjusted Price"
]

# remove % first
df_all["% Change"] = df_all["% Change"].str.replace("%", "", regex=False)

# remove thousand separators + replace '-' + cast
df_all[cols] = (
    df_all[cols]
        .replace(",", "", regex=True)
        .replace("-", 0)
        .apply(pd.to_numeric, errors="coerce")
)

In [64]:
df_all.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14.0,12.5,12.5,12.5,12.5,0.0,0.0,3200.0,0.0,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300.0,397.0,365.0,365.0,365.0,365.0,0.0,0.0,0.0,0.0,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59.0,90.0,78.0,78.0,78.0,78.0,0.0,0.0,0.0,0.0,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360.0,475.0,360.0,360.0,360.0,360.0,0.0,0.0,100.0,0.0,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20.0,19.5,19.5,19.5,19.5,0.0,0.0,0.0,0.0,Agricultural

In [65]:
df_all['Date'] = pd.to_datetime(df_all['Date'], errors='coerce')

In [66]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69945 entries, 0 to 69944
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            69945 non-null  datetime64[ns]
 1   Code            69945 non-null  object
 2   Name            69945 non-null  object
 3   12m Low         69945 non-null  float64
 4   12m High        69945 non-null  float64
 5   Day Low         69945 non-null  float64
 6   Day High        69945 non-null  float64
 7   Day Price       69945 non-null  float64
 8   Previous        69945 non-null  float64
 9   Change          69945 non-null  float64
 10  % Change        69945 non-null  float64
 11  Volume          69945 non-null  float64
 12  Adjusted Price  69945 non-null  float64
 13  Sector          69754 non-null  object
dtypes: datetime64[ns](1), float64(10), object(3)
memory usage: 7.5+ MB

In [67]:
df_all.duplicated().sum()

0

In [68]:
# saving the cleaned dataframe to a new csv file
#df_all.to_csv('../Data/NSE_data_cleaned.csv', index=False)

# pre-processing
 Feature Engineering

## Objective
Create financial indicators to capture:
- Price volatility
- Returns behavior
- Liquidity patterns
- Trend momentum
- Sector-relative metrics

In [69]:
df = pd.read_csv('../Data/NSE_data_cleaned.csv')
df.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,2021-01-04,EGAD,Eaagads Ltd,8.2,14.0,12.5,12.5,12.5,12.5,0.0,0.0,3200.0,0.0,Agricultural
1,2021-01-04,KUKZ,Kakuzi Plc,300.0,397.0,365.0,365.0,365.0,365.0,0.0,0.0,0.0,0.0,Agricultural
2,2021-01-04,KAPC,Kapchorua Tea Kenya Plc,59.0,90.0,78.0,78.0,78.0,78.0,0.0,0.0,0.0,0.0,Agricultural
3,2021-01-04,LIMT,Limuru Tea Plc,360.0,475.0,360.0,360.0,360.0,360.0,0.0,0.0,100.0,0.0,Agricultural
4,2021-01-04,SASN,Sasini Plc,14.8,20.0,19.5,19.5,19.5,19.5,0.0,0.0,0.0,0.0,Agricultural

In [70]:
df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d", errors="coerce")
df["Date"] = df["Date"].dt.strftime("%Y-%m")

In [71]:
df.dropna(inplace=True)

In [72]:
df['Change'] = df['Day Price'] - df['Previous']
df['%Change'] = (df['Change']/df['Previous']) * 100
df

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector,%Change
0,2021-01,EGAD,Eaagads Ltd,8.20,14.00,12.50,12.50,12.50,12.50,0.00,0.00,3200.0,0.0,Agricultural,0.000000
1,2021-01,KUKZ,Kakuzi Plc,300.00,397.00,365.00,365.00,365.00,365.00,0.00,0.00,0.0,0.0,Agricultural,0.000000
2,2021-01,KAPC,Kapchorua Tea Kenya Plc,59.00,90.00,78.00,78.00,78.00,78.00,0.00,0.00,0.0,0.0,Agricultural,0.000000
3,2021-01,LIMT,Limuru Tea Plc,360.00,475.00,360.00,360.00,360.00,360.00,0.00,0.00,100.0,0.0,Agricultural,0.000000
4,2021-01,SASN,Sasini Plc,14.80,20.00,19.50,19.50,19.50,19.50,0.00,0.00,0.0,0.0,Agricultural,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69939,2024-12,^N20I,NSE 20-Share Index,1487.89,18845.31,2010.65,2010.65,2010.65,1993.74,16.91,0.85,0.0,0.0,Indices,0.848155
69940,2024-12,^N25I,NSE 25-Share Index,2364.29,3457.87,3402.80,3402.80,3402.80,3380.24,22.56,0.67,0.0,0.0,Indices,0.667408
69941,2024-12,^NASI,NSE All-Share Index,90.10,125.34,123.48,123.48,123.48,123.12,0.36,0.29,0.0,0.0,Indices,0.292398
69943,2024-12,^ZKEQTK,Zamara Kenya Equity Index (KES),1535.23,2547.58,2519.80,2519.80,2519.80,2495.28,24.52,0.98,0.0,0.0,Indices,0.982655
69944,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1697.07,1677.27,1677.27,1677.27,1662.24,15.03,0.90,0.0,0.0,Indices,0.904202

In [73]:
df.loc[df["Adjusted Price"] == 0, "Adjusted Price"] = df.loc[df["Adjusted Price"] == 0, "Day Price"]
df.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector,%Change
0,2021-01,EGAD,Eaagads Ltd,8.2,14.0,12.5,12.5,12.5,12.5,0.0,0.0,3200.0,12.5,Agricultural,0.0
1,2021-01,KUKZ,Kakuzi Plc,300.0,397.0,365.0,365.0,365.0,365.0,0.0,0.0,0.0,365.0,Agricultural,0.0
2,2021-01,KAPC,Kapchorua Tea Kenya Plc,59.0,90.0,78.0,78.0,78.0,78.0,0.0,0.0,0.0,78.0,Agricultural,0.0
3,2021-01,LIMT,Limuru Tea Plc,360.0,475.0,360.0,360.0,360.0,360.0,0.0,0.0,100.0,360.0,Agricultural,0.0
4,2021-01,SASN,Sasini Plc,14.8,20.0,19.5,19.5,19.5,19.5,0.0,0.0,0.0,19.5,Agricultural,0.0

In [74]:
#how much a stock's price moves around over time = std. of returns

In [75]:
df = df.sort_values(["Code", "Date"])

df["return"] = (
    df.groupby("Code")["Adjusted Price"]
      .pct_change()
)

df["log_return"] = (
    np.log(df["Adjusted Price"])
      .groupby(df["Code"])
      .diff()
)
df

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector,%Change,return,log_return
7,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.42,9.80,9.52,9.66,-0.14,1.45,18500.0,9.52,Banking,-1.449275,NaN,NaN
78,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.44,9.70,9.44,9.52,-0.08,0.84,1923300.0,9.44,Banking,-0.840336,-0.008403,-0.008439
149,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.40,9.68,9.44,9.44,0.00,0.00,233400.0,9.44,Banking,0.000000,0.000000,0.000000
220,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.36,9.46,9.40,9.44,-0.04,0.42,194700.0,9.40,Banking,-0.423729,-0.004237,-0.004246
291,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.44,9.70,9.46,9.48,-0.02,0.21,77900.0,9.46,Banking,-0.210970,0.006383,0.006363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69652,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1633.43,1633.26,1633.26,1633.26,1633.43,-0.17,-0.01,0.0,1633.26,Indices,-0.010408,-0.000104,-0.000104
69725,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1662.24,1638.08,1638.08,1638.08,1633.26,4.82,0.30,0.0,1638.08,Indices,0.295115,0.002951,0.002947
69798,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1648.20,1648.20,1648.20,1648.20,1638.08,10.12,0.62,0.0,1648.20,Indices,0.617796,0.006178,0.006159
69871,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1662.24,1662.24,1662.24,1662.24,1648.20,14.04,0.85,0.0,1662.24,Indices,0.851838,0.008518,0.008482
69944,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1697.07,1677.27,1677.27,1677.27,1662.24,15.03,0.90,0.0,1677.27,Indices,0.904202,0.009042,0.009001

In [76]:
df['return'].value_counts()

 0.000000    28449
 0.052632       93
 0.055556       75
 0.100000       73
-0.100000       65
             ...
-0.030516        1
 0.003661        1
-0.017847        1
 0.005792        1
 0.019544        1
Name: return, Length: 19014, dtype: int64

In [77]:
df["daily_range"] = df["Day High"] - df["Day Low"]
df["range_pct"] = df["daily_range"] / df["Previous"]

df["high_low_ratio"] = df["Day High"] / df["Day Low"]

In [78]:
df["ma_7"] = df.groupby("Code")["Day Price"].transform(lambda x: x.rolling(7).mean())
df["ma_14"] = df.groupby("Code")["Day Price"].transform(lambda x: x.rolling(14).mean())

df["momentum_7"] = df["Day Price"] / df["ma_7"] - 1
df["momentum_14"] = df["Day Price"] / df["ma_14"] - 1

In [79]:
df["volatility_7"] = df.groupby("Code")["return"].transform(lambda x: x.rolling(7).std())
df["volatility_14"] = df.groupby("Code")["return"].transform(lambda x: x.rolling(14).std())

In [80]:
df["vol_ma_7"] = df.groupby("Code")["Volume"].transform(lambda x: x.rolling(7).mean())
df["vol_ratio"] = df["Volume"] / df["vol_ma_7"]

In [81]:
df["position_12m"] = (df["Day Price"] - df["12m Low"]) / (df["12m High"] - df["12m Low"])

In [82]:
df["target_up"] = (df.groupby("Code")["Day Price"]
                     .shift(-1) > df["Day Price"]).astype(int)

In [83]:
df["target_return"] = df.groupby("Code")["return"].shift(-1)

In [84]:
df

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,...,ma_14,momentum_7,momentum_14,volatility_7,volatility_14,vol_ma_7,vol_ratio,position_12m,target_up,target_return
7,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.42,9.80,9.52,9.66,-0.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.178947,0,-0.008403
78,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.44,9.70,9.44,9.52,-0.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.164912,0,0.000000
149,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.40,9.68,9.44,9.44,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.164912,0,-0.004237
220,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.36,9.46,9.40,9.44,-0.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.157895,1,0.006383
291,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.44,9.70,9.46,9.48,-0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.168421,1,0.004228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69652,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1633.43,1633.26,1633.26,1633.26,1633.43,-0.17,...,1592.731429,0.005683,0.025446,0.007344,0.009587,0.0,NaN,0.999791,1,0.002951
69725,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1662.24,1638.08,1638.08,1638.08,1633.26,4.82,...,1600.748571,0.006900,0.023321,0.006756,0.009223,0.0,NaN,0.971367,1,0.006178
69798,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1648.20,1648.20,1648.20,1648.20,1638.08,10.12,...,1609.717143,0.009821,0.023907,0.006292,0.008987,0.0,NaN,1.000000,1,0.008518
69871,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1662.24,1662.24,1662.24,1662.24,1648.20,14.04,...,1617.583571,0.015495,0.027607,0.005753,0.008149,0.0,NaN,1.000000,1,0.009042
69944,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1697.07,1677.27,1677.27,1677.27,1662.24,15.03,...,1626.210714,0.019192,0.031398,0.003317,0.008194,0.0,NaN,0.977464,0,NaN

In [85]:
df.isna().sum()

Date                  0
Code                  0
Name                  0
12m Low               0
12m High              0
Day Low               0
Day High              0
Day Price             0
Previous              0
Change                0
% Change              0
Volume                0
Adjusted Price        0
Sector                0
%Change               0
return               75
log_return           75
daily_range           0
range_pct             1
high_low_ratio       32
ma_7                450
ma_14               975
momentum_7          450
momentum_14         975
volatility_7        525
volatility_14      1050
vol_ma_7            450
vol_ratio         16757
position_12m       7907
target_up             0
target_return        75
dtype: int64

In [88]:
df.columns

Index(['Date', 'Code', 'Name', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', '% Change', 'Volume',
       'Adjusted Price', 'Sector', '%Change', 'return', 'log_return',
       'daily_range', 'range_pct', 'high_low_ratio', 'ma_7', 'ma_14',
       'momentum_7', 'momentum_14', 'volatility_7', 'volatility_14',
       'vol_ma_7', 'vol_ratio', 'position_12m', 'target_up', 'target_return'],
      dtype='object')

In [90]:
features = ['return', 'log_return','daily_range', 'range_pct', 'momentum_7', 'momentum_14', 'volatility_7', 'volatility_14',
        'vol_ratio', 'position_12m']

df_model = df.copy()

df_model = df_model.sort_values(["Code","Date"])

# forward fill features within each stock
df_model[features] = df_model.groupby("Code")[features].ffill()

# drop rows where target is NaN
df_model = df_model.dropna(subset=["target_return"])

In [91]:
# Assuming df is sorted by Stock_code and Date
df['running_max'] = df.groupby('Code')['Day Price'].cummax()
df['drawdown'] = (df['Day Price'] - df['running_max']) / df['running_max']
df

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,...,momentum_14,volatility_7,volatility_14,vol_ma_7,vol_ratio,position_12m,target_up,target_return,running_max,drawdown
7,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.42,9.80,9.52,9.66,-0.14,...,NaN,NaN,NaN,NaN,NaN,0.178947,0,-0.008403,9.52,0.000000
78,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.44,9.70,9.44,9.52,-0.08,...,NaN,NaN,NaN,NaN,NaN,0.164912,0,0.000000,9.52,-0.008403
149,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.40,9.68,9.44,9.44,0.00,...,NaN,NaN,NaN,NaN,NaN,0.164912,0,-0.004237,9.52,-0.008403
220,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.36,9.46,9.40,9.44,-0.04,...,NaN,NaN,NaN,NaN,NaN,0.157895,1,0.006383,9.52,-0.012605
291,2021-01,ABSA,ABSA Bank Kenya Plc,8.50,14.20,9.44,9.70,9.46,9.48,-0.02,...,NaN,NaN,NaN,NaN,NaN,0.168421,1,0.004228,9.52,-0.006303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69652,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1633.43,1633.26,1633.26,1633.26,1633.43,-0.17,...,0.025446,0.007344,0.009587,0.0,NaN,0.999791,1,0.002951,1812.10,-0.098692
69725,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1662.24,1638.08,1638.08,1638.08,1633.26,4.82,...,0.023321,0.006756,0.009223,0.0,NaN,0.971367,1,0.006178,1812.10,-0.096032
69798,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1648.20,1648.20,1648.20,1648.20,1638.08,10.12,...,0.023907,0.006292,0.008987,0.0,NaN,1.000000,1,0.008518,1812.10,-0.090448
69871,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1662.24,1662.24,1662.24,1662.24,1648.20,14.04,...,0.027607,0.005753,0.008149,0.0,NaN,1.000000,1,0.009042,1812.10,-0.082700
69944,2024-12,^ZKEQTU,Zamara Kenya Equity Index (USD),818.46,1697.07,1677.27,1677.27,1677.27,1662.24,15.03,...,0.031398,0.003317,0.008194,0.0,NaN,0.977464,0,NaN,1812.10,-0.074405