In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../Data/NSE_data_all_stocks_2021_upto_31dec2021.csv')
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-

In [4]:
sectors_2021 = pd.read_csv('../Data/NSE_data_stock_market_sectors_as_at_31dec2021.csv')
sectors_2021.head()

         SECTOR  CODE                     NAME
0  Agricultural  EGAD              Eaagads Ltd
1  Agricultural  KUKZ               Kakuzi Plc
2  Agricultural  KAPC  Kapchorua Tea Kenya Plc
3  Agricultural  LIMT           Limuru Tea Plc
4  Agricultural  SASN               Sasini Plc

In [5]:
# to attach sectors to df using the code
df = df.merge(sectors_2021[['CODE', 'SECTOR']], on='CODE', how='left')
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust,SECTOR
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural

In [6]:
df1 = pd.read_csv('../Data/NSE_data_all_stocks_2022.csv')
df1.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,3-Jan-22,EGAD,Eaagads Ltd,10,15,13.5,13.8,13.5,13.5,-,-,"4,000",-
1,3-Jan-22,KUKZ,Kakuzi Plc,355,427,385,385,385,385,-,-,-,-
2,3-Jan-22,KAPC,Kapchorua Tea Kenya Plc,80,101,99.5,99.5,99.5,95.5,4,4.19%,100,-
3,3-Jan-22,LIMT,Limuru Tea Plc,260,360,320,320,320,320,-,-,-,-
4,3-Jan-22,SASN,Sasini Plc,16.75,22.6,18.7,18.7,18.7,18.7,-,-,-,-

In [7]:
sectors_2022 = pd.read_csv('../Data/NSE_data_stock_market_sectors_2022.csv')
sectors_2022.head()

         Sector Stock_code               Stock_name
0  Agricultural       EGAD              Eaagads Ltd
1  Agricultural       KUKZ               Kakuzi Plc
2  Agricultural       KAPC  Kapchorua Tea Kenya Plc
3  Agricultural       LIMT           Limuru Tea Plc
4  Agricultural       SASN               Sasini Plc

In [8]:
df1 = df1.merge(sectors_2022[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df1.drop('Stock_code', axis=1, inplace=True)
df1.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price,Sector
0,3-Jan-22,EGAD,Eaagads Ltd,10,15,13.5,13.8,13.5,13.5,-,-,"4,000",-,Agricultural
1,3-Jan-22,KUKZ,Kakuzi Plc,355,427,385,385,385,385,-,-,-,-,Agricultural
2,3-Jan-22,KAPC,Kapchorua Tea Kenya Plc,80,101,99.5,99.5,99.5,95.5,4,4.19%,100,-,Agricultural
3,3-Jan-22,LIMT,Limuru Tea Plc,260,360,320,320,320,320,-,-,-,-,Agricultural
4,3-Jan-22,SASN,Sasini Plc,16.75,22.6,18.7,18.7,18.7,18.7,-,-,-,-,Agricultural

In [9]:
df2 = pd.read_csv('../Data/NSE_data_all_stocks_2023.csv')
df2.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,3-Jan-23,EGAD,Eaagads Ltd,10.35,14.5,10.5,10.5,10.5,10.5,-,-,"1,900.00",-
1,3-Jan-23,KUKZ,Kakuzi Plc,342,440,385,385,385,385,-,-,-,-
2,3-Jan-23,KAPC,Kapchorua Tea Kenya Plc,207,280,115.75,115.75,115.75,113.25,2.5,2.21%,100,-
3,3-Jan-23,LIMT,Limuru Tea Plc,365,380,420,420,420,420,-,-,-,-
4,3-Jan-23,SASN,Sasini Plc,15.1,22,22,22.5,22.45,22.45,-,-,"6,900.00",-

In [10]:
df3 = pd.read_csv('../Data/NSE_data_all_stocks_2024.csv')
df3.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
0,2-Jan-24,EGAD,Eaagads Ltd,10.35,14.5,12.8,12.8,12.8,13.95,-1.15,-8.24%,100,-
1,2-Jan-24,KUKZ,Kakuzi Plc,342,440,385,385,385,385,-,-,-,-
2,2-Jan-24,KAPC,Kapchorua Tea Kenya Plc,207,280,215,215,215,215,-,-,-,-
3,2-Jan-24,LIMT,Limuru Tea Plc,365,380,380,380,380,380,-,-,-,-
4,2-Jan-24,SASN,Sasini Plc,15.1,22,20,20,20,20,-,-,"3,300.00",-

In [11]:
sectors_2023_2024 = pd.read_csv('../Data/NSE_data_stock_market_sectors_2023_2024.csv')
sectors_2023_2024.head()

         Sector Stock_code               Stock_name
0  Agricultural       EGAD              Eaagads Ltd
1  Agricultural       KUKZ               Kakuzi Plc
2  Agricultural       KAPC  Kapchorua Tea Kenya Plc
3  Agricultural       LIMT           Limuru Tea Plc
4  Agricultural       SASN               Sasini Plc

In [12]:
# to merge df2 and df3 with sectors_2023_2024
df2 = df2.merge(sectors_2023_2024[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df2.drop('Stock_code', axis=1, inplace=True)
df3 = df3.merge(sectors_2023_2024[['Stock_code', 'Sector']], left_on='Code', right_on='Stock_code', how='left')
df3.drop('Stock_code', axis=1, inplace=True)

In [13]:
df_columns = ['Date', 'Code', 'Name', '12m Low', '12m High', 'Day Low', 'Day High', 'Day Price', 'Previous', 'Change', '% Change', 'Volume', 'Adjusted Price', 'Sector']

df.columns = df_columns
df1.columns = df_columns
df2.columns = df_columns
df3.columns = df_columns

In [14]:
# to merge all the dataframes into one dataframe
df_all = pd.concat([df, df1, df2, df3], ignore_index=True)
df_all.head()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural

In [15]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69945 entries, 0 to 69944
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            69945 non-null  object
 1   Code            69945 non-null  object
 2   Name            69945 non-null  object
 3   12m Low         69945 non-null  object
 4   12m High        69945 non-null  object
 5   Day Low         69945 non-null  object
 6   Day High        69945 non-null  object
 7   Day Price       69945 non-null  object
 8   Previous        69945 non-null  object
 9   Change          69945 non-null  object
 10  % Change        69945 non-null  object
 11  Volume          69945 non-null  object
 12  Adjusted Price  69945 non-null  object
 13  Sector          69754 non-null  object
dtypes: object(14)
memory usage: 7.5+ MB

In [16]:
df_all.isna()

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69940,False,False,False,False,False,False,False,False,False,False,False,False,False,False
69941,False,False,False,False,False,False,False,False,False,False,False,False,False,False
69942,False,False,False,False,False,False,False,False,False,False,False,False,False,True
69943,False,False,False,False,False,False,False,False,False,False,False,False,False,False
69944,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
# first 10 where sector is null
df_all[df_all['Sector'].isna()].head(10)

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
56936,12-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",988.79,988.79,988.79,"1,140.07",-151.28,-13.27%,-,-,NaN
57009,15-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",988.74,988.74,988.74,988.79,-0.05,-0.01%,-,-,NaN
57082,16-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",992.86,992.86,992.86,988.74,4.12,0.42%,-,-,NaN
57155,17-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",991.89,991.89,991.89,992.86,-0.97,-0.10%,-,-,NaN
57228,18-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",991.11,991.11,991.11,991.89,-0.78,-0.08%,-,-,NaN
57301,19-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",993.85,993.85,993.85,991.11,2.74,0.28%,-,-,NaN
57374,22-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",996.83,996.83,996.83,993.85,2.98,0.30%,-,-,NaN
57447,23-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",993.59,993.59,993.59,996.83,-3.24,-0.33%,-,-,NaN
57520,24-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",999.2,999.2,999.2,993.59,5.61,0.56%,-,-,NaN
57593,25-Apr-24,^NBDI,NSE Bonds Index,986.46,"1,042.42",997.94,997.94,997.94,999.2,-1.26,-0.13%,-,-,NaN

In [18]:
# % change where '-' is present
df_all[df_all['% Change'] == '-']

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,% Change,Volume,Adjusted Price,Sector
0,04-Jan-21,EGAD,Eaagads Ltd,8.2,14,12.5,12.5,12.5,12.5,-,-,"3,200",-,Agricultural
1,04-Jan-21,KUKZ,Kakuzi Plc,300,397,365,365,365,365,-,-,-,-,Agricultural
2,04-Jan-21,KAPC,Kapchorua Tea Kenya Plc,59,90,78,78,78,78,-,-,-,-,Agricultural
3,04-Jan-21,LIMT,Limuru Tea Plc,360,475,360,360,360,360,-,-,100,-,Agricultural
4,04-Jan-21,SASN,Sasini Plc,14.8,20,19.5,19.5,19.5,19.5,-,-,-,-,Agricultural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69927,31-Dec-24,BOC,BOC Kenya Plc,67,96,88.75,88.75,88.75,88.75,-,-,-,-,Manufacturing and Allied
69932,31-Dec-24,ORCH,Kenya Orchards Ltd,19,77,70,70,70,70,-,-,-,-,Manufacturing and Allied
69933,31-Dec-24,MSC,Mumias Sugar Company Ltd,0.27,0.27,0.27,0.27,0.27,0.27,-,-,-,-,Manufacturing and Allied
69936,31-Dec-24,LAPR,Laptrust Imara Income-REIT,20,20,20,20,20,20,-,-,-,-,Real Estate Investment Trusts
69937,31-Dec-24,GLD,ABSA NewGold ETF,2625,"3,330.00","3,260.00","3,260.00","3,260.00","3,260.00",-,-,-,-,Exchange Traded Funds

In [19]:
cols = [
    "12m Low","12m High","Day Low","Day High",
    "Day Price","Previous","Change","% Change", "Volume","Adjusted Price"
]

# remove % first
df_all["% Change"] = df_all["% Change"].str.replace("%", "", regex=False)

# remove thousand separators + replace '-' + cast
df_all[cols] = (
    df_all[cols]
        .replace(",", "", regex=True)
        .replace("-", 0)
        .apply(pd.to_numeric, errors="coerce")
)

In [20]:
df_all['Date'] = pd.to_datetime(df_all['Date'], errors='coerce')

C:\Users\HP\AppData\Local\Temp\ipykernel_21576\876536179.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_all['Date'] = pd.to_datetime(df_all['Date'], errors='coerce')

In [21]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69945 entries, 0 to 69944
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            69945 non-null  datetime64[ns]
 1   Code            69945 non-null  object
 2   Name            69945 non-null  object
 3   12m Low         69945 non-null  float64
 4   12m High        69945 non-null  float64
 5   Day Low         69945 non-null  float64
 6   Day High        69945 non-null  float64
 7   Day Price       69945 non-null  float64
 8   Previous        69945 non-null  float64
 9   Change          69945 non-null  float64
 10  % Change        69945 non-null  float64
 11  Volume          69945 non-null  float64
 12  Adjusted Price  69945 non-null  float64
 13  Sector          69754 non-null  object
dtypes: datetime64[ns](1), float64(10), object(3)
memory usage: 7.5+ MB

In [22]:
df_all.duplicated().sum()

np.int64(0)

### Feature Engineering

Steps:

    1. Derive Daily Returns

    2. Derive Rolling Volatility 
    
    3. Derive Maximum drawdown

In [ ]:
df = pd.read_csv('../Data/NSE_data_cleaned.csv')
df.head()

In [ ]:
df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d", errors="coerce")
df["Date"] = df["Date"].dt.strftime("%Y-%m")

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['Change'] = df['Day Price'] - df['Previous']
df['%Change'] = (df['Change']/df['Previous']) * 100
df

In [ ]:
df.loc[df["Adjusted Price"] == 0, "Adjusted Price"] = df.loc[df["Adjusted Price"] == 0, "Day Price"]
df.head()

In [ ]:
df = df.sort_values(["Code", "Date"])

df["return"] = (
    df.groupby("Code")["Adjusted Price"]
      .pct_change()
)

df["log_return"] = (
    np.log(df["Adjusted Price"])
      .groupby(df["Code"])
      .diff()
)
df

In [ ]:
df['return'].value_counts()

In [ ]:
df["daily_range"] = df["Day High"] - df["Day Low"]
df["range_pct"] = df["daily_range"] / df["Previous"]

df["high_low_ratio"] = df["Day High"] / df["Day Low"]

In [ ]:
df["ma_7"] = df.groupby("Code")["Day Price"].transform(lambda x: x.rolling(7).mean())
df["ma_14"] = df.groupby("Code")["Day Price"].transform(lambda x: x.rolling(14).mean())

df["momentum_7"] = df["Day Price"] / df["ma_7"] - 1
df["momentum_14"] = df["Day Price"] / df["ma_14"] - 1

In [ ]:
df["volatility_7"] = df.groupby("Code")["return"].transform(lambda x: x.rolling(7).std())
df["volatility_14"] = df.groupby("Code")["return"].transform(lambda x: x.rolling(14).std())

In [ ]:
df["vol_ma_7"] = df.groupby("Code")["Volume"].transform(lambda x: x.rolling(7).mean())
df["vol_ratio"] = df["Volume"] / df["vol_ma_7"]
df["position_12m"] = (df["Day Price"] - df["12m Low"]) / (df["12m High"] - df["12m Low"])

In [ ]:
df["target_up"] = (df.groupby("Code")["Day Price"]
                     .shift(-1) > df["Day Price"]).astype(int)

In [ ]:
df["target_return"] = df.groupby("Code")["return"].shift(-1)
df.columns

In [ ]:
features = ['return', 'log_return','daily_range', 'range_pct', 'momentum_7', 'momentum_14', 'volatility_7', 'volatility_14',
        'vol_ratio', 'position_12m']

df_model = df.copy()

df_model = df_model.sort_values(["Code","Date"])

# forward fill features within each stock
df_model[features] = df_model.groupby("Code")[features].ffill()

# drop rows where target is NaN
df_model = df_model.dropna(subset=["target_return"])

In [ ]:
# Assuming df is sorted by Stock_code and Date
df['running_max'] = df.groupby('Code')['Day Price'].cummax()
df['drawdown'] = (df['Day Price'] - df['running_max']) / df['running_max']
df.head()